:root{
  --primary-color: #EE4D2D;
  --white-color: #fff;
  --black-color: #000;
  --text-color: #333;
  --boder-color: #dbdbdb;
  --star-gold-color: #FFCE3E
}
*{
  box-sizing: inherit;
}
html{
  /* HACK */
  font-size: 62.5%;
  line-height: 1.6rem;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}
/* Responsive */
.container{
  max-width: 85% !important;
}
.grid{
  max-width: 100%;
  margin: 0 auto;
}
.grid__row{
  display: flex;
  flex-wrap: wrap;
  margin-left: -5px;
  margin-right: -5px;
  padding-bottom: 16px;
}
/* Test */
.grid__column-2{
  padding-left: 5px;
  padding-right: 5px;
  width: 16.6667%;
}
.grid__column-6{
  padding-left: 5px;
  padding-right: 5px;
  width: 49.9999%;
}
.grid__column-2-4{
  padding-left: 5px;
  padding-right: 5px;
  width: 20%;
}
.grid__column-1-3{
  padding-left: 5px;
  padding-right: 5px;
  width: 33.3333333333%;
}
.grid__column-1-4{
  padding-left: 5px;
  padding-right: 5px;
  width: 25%;
}
.grid__column-1-5{
  padding-left: 5px;
  padding-right: 5px;
  width: 20%;
}
.grid__column-1-6{
  padding-left: 5px;
  padding-right: 5px;
  width: 16.6667%;
}
.grid__column-10{
  padding-left: 5px;
  padding-right: 5px;
  width: 83.3333%;
}
/* Animation */
@keyframes userFadeIn {
from{
  opacity: 0;
  transform: translateX(140px);
}
to{
  opacity: 1;
  transform: translateX(0);
}
}
h1{
  font-size: 3rem;
  padding: 10px 0;
  opacity: 0.5;
}
.p_left{
  padding-left: 110px;
}
#coin{
  color: red;
  font-size: 2.5rem;
  margin-top: -5px;
}
.h-98 {
  height: 98% !important;
}