<div class="menu__right h-98">
  <div class="menu__right-header">
    <h3><%= t("categories") %></h3>
  </div>
  <div class="menu__right-category px-2">
    <% @childrens.each do |children| %>
      <ul class="text-danger fs-2 fw-bold px-5"> <%= children.name %>
        <% @children_childrens.each do |children_children| %>
          <% if children.id == children_children.parent_id %>
            <li class="menu__right-category-item fs-3 fw-normal"><%= children_children.name %></li>
          <% end %>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>