<h1 class="text-uppercase fw-bold"><%= t("categories") %></h1>
<ul class="categories_nav">
  <% @categories.each do |category| %>
    <% if category.parent_id == 1 %>
      <li class="categories_nav-item-1"><%= category.name %></li>
    <% else %>
      <li class="categories_nav-item-2 ms-3"><%= category.name %></li>
    <% end %>
  <% end %>
</ul>